{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-6">
            <div class="card-header bg-white py-3 text-center">
                <h4 class="mb-0 text-secondary">
                    {% if usuario %}
                        Editar Usuário
                    {% else %}
                        Novo Usuário
                    {% endif%}
                </h4>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label fw-bold">
                            Nome Completo
                        </label>
                        <input type="text" name="nome" class="form-control" value="{{ usuario.nome if usuario else '' }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">
                            E-mail Corporativo
                        </label>
                        <input type="email" name="email" class="form-control" value="{{ usuario.email if usuario else '' }}">
                    </div>
                    <div class="mb-4">
                        <label class="form-label fw-bold">
                            Senha Segura
                        </label>
                        <input type="password" name="senha" class="form-control" {% if not usuario %} required {% endif %} placeholder="{% if usuario %} Deixe em branco para manter a atual {% else %} Digite a senha incial {% endif %}">
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="{{ url_for('web.listar_usuarios_view') }}" class="btn btn-outline-secondary">
                            Voltar
                        </a>
                        <button type="submit" class="btn btn-primary px-4 shadow-sm">
                            Salvar Registro
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}