{% extends "base.html" %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-white py-3 text-center">
                    <h4 class="mb-0 text-secondary">
                        {% if produto %}
                            Modificar Produto
                        {% else %}
                            Novo Produto no Estoque
                        {% endif %}
                    </h4>
                </div>

                <div class="card-body p4">
                    <form method="POST">
                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Nome do produto
                            </label>
                            <input type="text" name="nome" class="form-control" value="{{ produto.nome if produto else '' }}" required placeholder="Ex: Notebook M2">
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                Preço da Venda (R$)
                            </label>
                            <input type="number" name="preco" min="0.00" step="0.01" class="form-control" value="{{ produto.preco if produto else '' }}" required placeholder="0.00">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fw-bold">
                                Categoria
                            </label>
                            <select name="categoria_id" class="form-select" required>
                                <option value="">Selecione uma categoria abaixo...</option>
                                
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}" {% if produto and produto.categoria_id == categoria.id %} selected {% endif %} >
                                        {{ categoria.nome }}
                                    </option>
                                {% endfor %}

                            </select>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{{ url_for('web.listar_produtos_view')}}" class="btn btn-outline-secondary">
                                Voltar
                            </a>
                            <button type="submit" class="btn btn-warning px-4 shadow-sm fw-semibold">
                                {% if produto %}
                                    Salvar mudanças
                                {% else %}
                                    Salvar novo produto
                                {% endif %}
                            </button>
                        </div>

                    </form>
                
                </div>

            </div>
        </div>
    </div>

{% endblock %}